/* Reset y estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: linear-gradient(to bottom, #f78e06, #e0760c);
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1em 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block; /* Asegura que la imagen no tenga espacios adicionales */
}

/* Encabezado fijo */
#main-header {
    background: #333;
    color: white;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    padding: 10px 0;
    text-align: center;
}

#main-header h1 {
    margin: 0;
}

/* Contenedor principal */
.content-container {
    padding: 100px 20px 120px; /* Ajuste para el encabezado fijo y el footer */
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-start; /* Alinea el contenido hacia arriba */
    margin-top: 80px; /* Nuevo margen superior para separar del encabezado */
}

/* Contenedor de perfil */
.profile-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center; /* Centra horizontalmente los elementos */
}

.profile-container img {
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 10px;
    max-width: 300px; /* Nuevo ancho máximo ajustado para la imagen */
    width: 100%;
}

.profile-container .info {
    flex: 1; /* Toma todo el espacio restante */
    max-width: 600px; /* Máximo ancho para el contenido */
}

/* Pie de página fijo */
#main-footer {
    background: #333;
    color: rgb(236, 120, 12);
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

#main-footer img {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    max-width: 50px; /* Ajuste el tamaño máximo de la imagen del footer */
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .content-container {
        flex-direction: column; /* Cambia a disposición de columna en pantallas pequeñas */
        align-items: center; /* Centra verticalmente el contenido */
    }

    .profile-container img {
        max-width: 100%; /* Ancho máximo para la imagen en pantallas pequeñas */
        margin-bottom: 20px; /* Espacio inferior para separación */
    }
}






