body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f78e06;
    font-size: 1em;
    line-height: 1.5em;
    background: linear-gradient(to bottom, #f78e06, #e0760c);
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}

img {
    max-width: 100%;
    height: auto;
}

#main-header {
    background: #333;
    color: white;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

#main-header a {
    color: white;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #0b76a6;
}

#main-content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.container {
    margin-top: 80px;
    padding: 40px;
    width: 80%; 
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: flex-start;
}

.container img {
    width: 600px;
    height: 700px;
    margin-left: 0; 
    max-width: 50%;
    order: 1;
}

.container ul {
    color: #333;
    font-size: 1.1em;
    padding: 20px;
    border-radius: 8px;
    margin-left: 50px; 
    margin-bottom: auto;
    flex-basis: 50%;
    order: 2;
}

.container ul li {
    margin-bottom: 30px;
}

#main-footer {
    background: #333;
    color: rgb(236, 120, 12);
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#main-footer img {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#main-footer p {
    margin: 0;
}

#main-footer a {
    color: white;
}

@media screen and (max-width: 768px) {
    .container img,
    .container ul {
        flex-basis: 100%;
        max-width: 100%; 
        margin-left: 0;
    }
}
