/* Reset y estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: linear-gradient(to bottom, #f78e06, #e0760c);
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1em 0;
    text-align: justify; /* Justificar el texto */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

/* Encabezado fijo */
#main-header {
    background: #333;
    color: white;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    padding: 10px 0;
    text-align: center;
}

#main-header h1 {
    margin: 0;
}

/* Contenedor principal */
.content-container {
    padding: 100px 20px 120px;
    box-sizing: border-box;
    margin-top: 80px; /* Añadido margen superior para evitar que la ficha toque el header */
    display: flex;
    justify-content: center; /* Centrar contenido en escritorio */
}

/* Contenedor de perfil */
.profile-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start; /* Alinea al principio del contenedor */
}

.profile-container img {
    max-width: 20%; /* Ancho inicial de la imagen en escritorio */
    height: auto;
    border-radius: 10px;
}

.profile-container .info {
    flex: 1; /* Ocupa todo el espacio restante */
    padding: 0 20px; /* Espaciado horizontal para el texto */
}

.profile-container .info h2 {
    margin-top: 0; /* Ajuste de margen superior */
}

.profile-container .info ul {
    margin-top: 0; /* Ajuste de margen superior */
}

/* Footer */
#main-footer {
    background: #333;
    color: rgb(236, 120, 12);
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000; /* Asegura que esté sobre cualquier otro contenido */
}

#main-footer img {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 50px; /* Ancho de la imagen */
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

#main-footer p {
    margin: 0;
}

/* Media Query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column; /* Apilar elementos en dispositivos móviles */
        align-items: center; /* Centrar contenido en dispositivos móviles */
    }

    .profile-container img {
        max-width: 90%; /* Ancho máximo de la imagen en móviles */
        margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    }

    .profile-container .info {
        width: 100%; /* Ancho completo en dispositivos móviles */
        padding: 0; /* Eliminar espaciado horizontal */
    }
}





